.container {
    height: 100vh;
    width: 100%;
    background-image: url("pexels-chevanon-312418.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    cursor: pointer;
    border-radius: 70%;
}

.cart {
    width: 30px;
    margin: -50px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding-left: 60px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: white;
    text-decoration: underline;
}

.content p {
    font-size: 20px;
    color: #1e2238;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.content .btn {
    display: inline-block;
    background: linear-gradient(45deg, #192642, #13070e);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}



.feature-img {
    height: 90%;
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links {
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.social-links a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 14px;
}

.social-links a:hover {
    color: blue;
    text-decoration: underline;
}