* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url(pexels-muffin-2468773.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color:gray;
    font-size: 15px;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: #fff;
    font-size: 100px;
}

p {
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

button {
    width: 180px;
    color: #000;
    font-size: 12px 0px;
    background: #fff;
    border: 0;
    border-radius: 23px;
    outline: none;
    margin-top: 30px;
}

button:hover {
    background-color: #999;
    text-decoration: underline;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url("img-1.png");
}

.card2 {
    background-image: url("img-2.png");
}

.card3 {
    background-image: url("img-3.png");
}

.card4 {
    background-image: url("img-4.png");
}

.card:hover {
    transform: translateX(-10px);
}

h5 {
    color: #fff;
    text-shadow: 0 0 5px #999;
}

.card p {
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}